In [1]:
!pip install PyMySQL

Collecting PyMySQL
  Downloading PyMySQL-1.1.0-py3-none-any.whl.metadata (4.4 kB)
Downloading PyMySQL-1.1.0-py3-none-any.whl (44 kB)
   ---------------------------------------- 0.0/44.8 kB ? eta -:--:--
   --------- ------------------------------ 10.2/44.8 kB ? eta -:--:--
   ------------------ --------------------- 20.5/44.8 kB 217.9 kB/s eta 0:00:01
   ------------------------------------ --- 41.0/44.8 kB 326.8 kB/s eta 0:00:01
   ---------------------------------------- 44.8/44.8 kB 276.2 kB/s eta 0:00:00
Installing collected packages: PyMySQL
Successfully installed PyMySQL-1.1.0

In [1]:
import pymysql

In [2]:
myConnection = pymysql.connect( host='localhost', 
                               user='root', 
                               passwd='Admin@1234',
                               db='hr_emp' )

In [3]:
cur = myConnection.cursor()

In [4]:
cur.execute("SELECT * FROM employees where manager_id = 20")
myresult = cur.fetchall()  
print(myresult)

((1, 'Aman', 'Sharma', 'ASHARMA', '715.234.4577', datetime.date(1977, 6, 16), 'AD_VP', Decimal('34000.00'), None, 20, 50), (3, 'Laxman', 'Dubey', 'LDUBEY', '915.173.8969', datetime.date(1983, 1, 23), 'AD_VP', Decimal('28000.00'), None, 20, 50))

In [5]:
cur.execute("select e.employee_id, e.first_name, e.last_name, e.department_id,e.salary, d.department_name \
            from employees e inner join departments d \
            on e.department_id = d.department_id;")
cur.fetchmany(5)

((1, 'Aman', 'Sharma', 50, Decimal('34000.00'), 'Shipping'),
 (2, 'Gopi', 'Kumar', 50, Decimal('29000.00'), 'Shipping'),
 (3, 'Laxman', 'Dubey', 50, Decimal('28000.00'), 'Shipping'),
 (4, 'Abhishek', 'Sharma', 70, Decimal('15000.00'), 'Public Relations'),
 (5, 'Bhuvan', 'Bhosle', 70, Decimal('13000.00'), 'Public Relations'))

In [6]:
import pandas as pd

In [7]:
SQL_Query = pd.read_sql_query('SELECT * FROM employees where manager_id = 20', myConnection)

C:\Users\Anusha\AppData\Local\Temp\ipykernel_5980\2874401175.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  SQL_Query = pd.read_sql_query('SELECT * FROM employees where manager_id = 20', myConnection)

In [13]:
type(SQL_Query)

pandas.core.frame.DataFrame

In [8]:
SQL_Query1 = pd.read_sql_query("select e.employee_id, e.first_name, e.last_name, e.department_id, d.department_name \
            from employees e inner join departments d \
            on e.department_id = d.department_id", myConnection)

C:\Users\Anusha\AppData\Local\Temp\ipykernel_5980\695234650.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  SQL_Query1 = pd.read_sql_query("select e.employee_id, e.first_name, e.last_name, e.department_id, d.department_name \

In [10]:
SQL_Query1

    employee_id first_name  last_name  department_id   department_name
0             1       Aman     Sharma             50          Shipping
1             2       Gopi      Kumar             50          Shipping
2             3     Laxman      Dubey             50          Shipping
3             4   Abhishek     Sharma             70  Public Relations
4             5     Bhuvan     Bhosle             70  Public Relations
5             6      Danny     Devgan             70  Public Relations
6             7      Velur      Patel             70  Public Relations
7             8     Akshay   Upadhyay             70  Public Relations
8             9      Nitin     Gautam             10    Administration
9            10   Abhishek  Fandnavis             10    Administration
10           11       Jack      Carle             10    Administration
11           12      Ishan      Malik             10    Administration
12           13     Usmaan     Sheikh             10    Administration
13           14      Lohan      Kumar             10    Administration

In [11]:
myConnection.close()